.login-main-div{
    text-align: center;
    margin-top: 5rem;
    margin-left: 25%;
    border: 1px solid green;
    width: 50%;
    padding: 6rem 0px;
    border-radius: 3rem;
}
.form-login{
    padding-top: 3rem;
}
.input-box{
    padding: 0.5rem;
    border-radius: 20px;
}
.login-btn{
    /* padding: 0.5rem;
    border-radius: 10px; */
    padding: 1rem;
    background-color: blue;
    border-radius: 1.2rem;
}
.hr-login{
    width: 25%;
}
.signup-redirect{
    color: blue;
}