.main-div{
    text-align: center;
}
.trainers-img{
    width: 10rem;
    height: 10rem;
}
.images-div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
@media (max-width: 1024px) {
    .images-div{
        flex-direction: column;
    }
}